/*Variables globales*/
:root {
    --blanco: #FFF;
    --gris: #e1e1e1;
    --negro: #1F1E1E;
    --primario: #1073BA;
    --secundario: #00DA55;
    --fuente-primaria: "Roboto", sans-serif;
}

/*Estilos globales*/
html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*Estilos generales*/

body {
    font-family: var(--fuente-primaria);
}

h1 {
    font-size: clamp(10rem, 3vh, 25rem);
}

h2 {
    font-size: 3.5rem;
    font-weight: bold;
}

h3 {
    font-size: 3rem;
    text-transform: uppercase;
    color: var(--primario);
}

p {
    font-size: 1.5rem;
}

img {
    max-width: 100%;
}

/*Utilidades*/

.text-center {
    text-align: center;
}

.color-b {
    color: var(--negro);
}

.color-w {
    color: var(--blanco);
}

/*Estilos header*/

.header {
    background-color: var(--negro);
    color: var(--blanco);
    padding: 15rem 1.5rem;
}

.header__div {
    padding-top: 5rem;
}

.header__p--big {
    text-transform: capitalize;
    font-size: 3rem;
    font-weight: 900;
    margin: 0 auto;
}

.header__h1 {
    font-size: 6rem;
    background: linear-gradient(to right, var(--primario) 0%, var(--secundario) 100%);
    color: transparent;
    background-clip: text;
    font-weight: 900;
    margin: 0;
}

.header__p {
    line-height: 1.5;
}

.header__span {
    font-size: 5rem;
    font-weight: 900;
}

.caracteristicas {
    max-width: 120rem;
    width: 90%;
    background-color: var(--blanco);
    padding: 5rem 0;
    margin: 0 auto;
}

.card {
    margin-bottom: 2.5rem;
}

.card:last-of-type {
    margin-bottom: 0;
}

.card__img {
    width: 5rem;
}

.card__p {
    font-size: 1.6rem;
    line-height: 1.5;
}

.sobre-nosotros {
    background-image: linear-gradient(to bottom, transparent 50%, var(--primario) 0), url(./img/imagen-mujer.webp);
    background-position: right;
    background-repeat: repeat, no-repeat;
    background-size: 100%, 110rem;
}

.sobre-nosotros__container {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;

    display: grid;
    grid-template-rows: repeat(2, 40rem);
    row-gap: 5rem;
}

.sobre-nosotros__info {
    grid-row: 2/3;
    color: var(--blanco);
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5rem;
}

.sobre-nosotros__h2 {
    font-size: 4rem;
}

.sobre-nosotros__p {
    font-size: 2rem;
}

/*Media Queries* 768px*/

@media (min-width: 768px) {
    .header {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header__img-container {
        flex: 1;
    }

    .header__div {
        flex: 1;
        padding-top: 0;
    }

    .header__h1 {
        font-size: 10rem;
    }

    .header__p,
    .header__h1  {
        text-align: initial;
        margin: 0;
    }

    .header__p--sm {
        font-size: 1.6rem;
    }

    .header__span {
        font-size: 6rem;
    }

    .caracteristicas {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    .sobre-nosotros {
        background-image: linear-gradient(to right, var(--primario) 50%, transparent 0), url(./img/imagen-mujer.webp);
        background-size: cover;
    }

    .sobre-nosotros__container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: none;
        row-gap: 0;
        column-gap: 4rem;
        padding: 10rem 0;
    }

    .sobre-nosotros__info {
        grid-column: 1/2;
        flex-direction: column;
        justify-content: space-around;
        padding: 0;
    }

    .sobre-nosotros__p {
        line-height: 2;
    }
}

/*Media Queries* 1200px*/

@media (min-width: 1200px) {

    .header__img-container,
    .header__div {
        max-width: 60rem;
    }

    .header__div {
        line-height: 1.5;
    }
}